# Assignment Day 2
DataTypes in Python with its methods.

#Integer

In [2]:
a=10
b=20
c=a+b
print("Add to Integer Number  :",c)
type(c)

Add to Integer Number  : 30

int

In [3]:
a=7.5
b=7.5
c=a+b
print("Add to Float Number :",c)
type(c)

Add to Float Number : 15.0

float

# string and its default function

In [42]:
name = "Shraddha"
Email ="shra@gmail.com"
Address ="Mumbai"
state="Maharashtra"
title ="Todays 2 day class assignment done by me.\n"
age =25
print("Name is =",name)
print("Email is =",Email)
print("Address is :",Address)

c=Address + state
print(c)
type(c)

Name is = Shraddha
Email is = shra@gmail.com
Address is : Mumbai
MumbaiMaharashtra

str

In [45]:
print("1) UpperCase =",name.upper())
print("2) LoerCase =",name.lower())
print("3) Uppercase or not\n",name.isupper())
print("4) Lowercase or not\n",Email.islower())
print("6) Title()=First letter must be capital in all sentence\n\n",title.title())
print("7) Replace with another string\n",name.replace("Shraddha","OM"))
print("8) Join =",title.join("123"))

1) UpperCase = SHRADDHA
2) LoerCase = shraddha
3) Uppercase or not
 False
4) Lowercase or not
 True
6) Title()=First letter must be capital in all sentence

 Todays 2 Day Class Assignment Done By Me.

7) Replace with another string
 OM
8) Join = 1Todays 2 day class assignment done by me.
2Todays 2 day class assignment done by me.
3

# List and its defualt functions

In [59]:
li =["Fruits","Mango",[1,2,3,4],"Apple",2000,"Banana",1000]

In [91]:
li

['Fruits',
 'Mango',
 [1, 2, 3, 4],
 'Apple',
 2000,
 'Banana',
 1000,
 'Pine Apple',
 'Pine Apple',
 'Pine Apple']

In [92]:
li.pop(8)
li.remove("Pine Apple")
li.clear()
li

[]

In [97]:
li =["Sai","sai@gmail.com",25,"pass graduation year",[2010,2011,2012]]
li.copy()

['Sai', 'sai@gmail.com', 25, 'pass graduation year', [2010, 2011, 2012]]

In [98]:
li.count("Sai")

1

In [103]:
li.reverse()
li

[[2010, 2011, 2012], 'pass graduation year', 25, 'sai@gmail.com', 'Sai']

In [109]:
li.insert(25,"Mumbai")

[[2010, 2011, 2012],
 'pass graduation year',
 25,
 'sai@gmail.com',
 'Sai',
 'Mumbai']

In [110]:
li.clear()

# Tuple and its defualt functions

In [120]:
tup =("C","C++","Java","HTML","Javascript","Python","1991","Java")
tup

('C', 'C++', 'Java', 'HTML', 'Javascript', 'Python', '1991', 'Java')

In [121]:
tup.count("Java")

2

In [122]:
tup.index("HTML")

3

# Defination with defualt function

In [1]:
dt={"name":"python","developed":1991,"Developer":"Guido van Rossum"}
dt

{'name': 'python', 'developed': 1991, 'Developer': 'Guido van Rossum'}

In [2]:
dt.keys()

dict_keys(['name', 'developed', 'Developer'])

In [3]:
dt.items()

dict_items([('name', 'python'), ('developed', 1991), ('Developer', 'Guido van Rossum')])

In [4]:
x = dt["name"]
print(x)

python

In [5]:
print(len(dt))

3

In [6]:
dt.pop("developed")
print(dt)

{'name': 'python', 'Developer': 'Guido van Rossum'}

In [7]:
dt.get("name")

'python'

In [8]:
dt.fromkeys("Developer")

{'D': None, 'e': None, 'v': None, 'l': None, 'o': None, 'p': None, 'r': None}

In [13]:
dt.setdefault("Language")
dt

{'name': 'python',
 'Developer': 'Guido van Rossum',
 'd': None,
 'Language': None}

# Set and its default functions

In [2]:
st = {"Mumbai","Delhi","Kolkata","Gujrat",1,2,2,3}
st

{1, 2, 3, 'Delhi', 'Gujrat', 'Kolkata', 'Mumbai'}

In [3]:
st.add("Kashmir")
st

{1, 2, 3, 'Delhi', 'Gujrat', 'Kashmir', 'Kolkata', 'Mumbai'}

In [4]:
st1 = {"Mumbai",1}
st1

{1, 'Mumbai'}

In [5]:
st1.issubset(st)

True

In [6]:
st.copy()

{1, 2, 3, 'Delhi', 'Gujrat', 'Kashmir', 'Kolkata', 'Mumbai'}

In [7]:
st.intersection("Gujrat","Kasmir")

set()

In [10]:
st.isdisjoint("Kolkata")

True

In [11]:
st.discard("Kolkata")
st

{1, 2, 3, 'Delhi', 'Gujrat', 'Kashmir', 'Mumbai'}

In [23]:
st.union("2")

{'2'}

In [24]:
st.clear()